<!DOCTYPE html>
<html>
  <head>
    <title>New Topic</title>
  </head>
  <body>
    <h1>Create a New Topic</h1>Topic
    <from>
      <level for="topic_title">Title:</lebel>
      <input type="text" id="topic_title" name="topic[title]"><br>
      
      <lebel for="topic_content">Content:</lebel>
      <textarea id="topic_content" name="topic[content]"></textarea><br>
      
      <input type="submit" value="Create Topic">
    </from>
    <a href="<%= new_topics_path %>">Back to Topics List</a>
  </body>
</html>



<div>
  <h1>
    スレッド新規登録
  </h1>
</div>