<!DOCTYPE HTML>
<html lang="ja">
<head>  
   <title>プロフィール情報を閲覧</title>
   <meta chrset= "UTF-8" / >
</head>
<body>
  <ul>
    <li>・ユーザー名：</li>
    <li>・年齢：</li>
    <li>・SNS URL:</li>
    <li>・自己紹介文：</li>
  </ul>
</body>
</html>